{% extends "base_sistema.html" %}
{% block subtitulo %} Cadastro de safra {% endblock %}
{% block conteudo %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-header">
        <h3 class="box-title">Cadastro de safra</h3>
      </div><!-- /.box-header -->
      <div class="box">
        <div class="car">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                  {{ message }}                                          
                </div>                                 
                {% endfor %}
             {% endif %}
          {% endwith %}
        </div>      
          <div class="box-body">
            <form method="POST" action="{{ url_for('cad_safra') }}">
              {{ form.csrf_token }}
              <div class="form-group">
                {{ form.nome.label(class="control-label") }}
                {{ form.nome(class="form-control") }}
              </div>
              <div class="form-group">
                {{ form.data_inicio.label(class="control-label") }}
                {{ form.data_inicio(class="form-control") }}
              </div>
              <div class="form-group">
                {{ form.data_fim.label(class="control-label") }}
                {{ form.data_fim(class="form-control") }}
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>        
      </div>
    </div>
  </section>
{% endblock %}
