body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.side-nav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2E8B57; /* Cor verde musgo */
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
}

.side-nav .nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    position: relative;
}

.side-nav .nav-title {
    font-size: 1.2em;
    color: white;
    margin-bottom: 10px;
    transition: opacity 0.5s, font-size 0.5s;
    opacity: 1;
}

.side-nav.closed .nav-title {
    font-size: 1.2em; /* Reduz o tamanho da fonte para "AgrV" */
}

.side-nav .logo {
    max-width: 50px;
    transition: max-width 0.5s;
}

.side-nav.closed .logo {
    max-width: 50px;
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    display: block;
    transition: opacity 0.3s;
    opacity: 0;
}

.side-nav.closed a {
    opacity: 0; /* Esconde os links quando fechado */
}

.openbtn {
    font-size: 1.5em;
    cursor: pointer;
    background-color: #2E8B57; /* Cor verde musgo */
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 20px;
}

.openbtn:hover {
    background-color: #3CB371; /* Cor verde musgo clara */
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    margin-left: 70px; /* Espaço para a navegação parcial */
}

.main-collapsed {
    margin-left: 70px; /* Espaço para a navegação parcial quando fechada */
}

.main-expanded {
    margin-left: 250px; /* Espaço para a navegação completa quando aberta */
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #2E8B57; /* Cor verde musgo */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
