{% extends "base_sistema.html" %}
{% block subtitulo %} Cadastro de Produto {% endblock %}
{% block conteudo %}
<section class="content">
  <h3>Cadastro de Produto</h3>
  <form method="POST" action="{{ url_for('adicionar_produto') }}">
    <label for="nome">Nome do Produto:</label>
    <input type="text" id="nome" name="nome" required>
    <label for="tipo">Tipo:</label>
    <input type="text" id="tipo" name="tipo" required>
    <button type="submit">Cadastrar</button>
  </form>
</section>
{% endblock %}