body {
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.weather-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.current-icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.month {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 3rem;
    margin-bottom: 10px;
}

.wind {
    font-size: 0.8rem;
}

.hourly-forecast {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 20px;
}

.hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.hour img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.weekly-forecast {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.day img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}