body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #056e28;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

button {
    font-family: '𝙖𝙧𝙞𝙖𝙡', modern-clarity;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .solo {
    background-color: #056e28; 
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
  }

    button:hover{
        background-color: #3333334d;
        color: #ffff;
    }

  
  .safra {
    background-color: #056e28;
    color: #ffffff;
    font-size: 20px;
  }
  
  .preco {
    background-color: #056e28;
    color: #ffffff;
    font-size: 20px;
  }
  
  .maquinario {
    background-color: #056e28;
    color: #ffffff;
    font-size: 20px;
  }
  
  .insumos {
    background-color: #056e28;
    color: #ffffff;
    font-size: 20px;
  }
  
  .financeiro {
    background-color: #056e28;
    color: #ffffff;
    font-size: 20px;
  }
  
  .seguro {
    background-color: #056e28;
    color: #ffffff;
    font-size: 20px;
  }

 ul {
    display: flex;
    justify-navcontent: center;
    list-style: none;
    padding: 0;
} 

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fbbf24;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #ffffff;
}

input, select, textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input[type="checkbox"] {
    margin-right: 10px;
}

#checklistOptions {
    margin-top: 10px;
    padding: 10px;
    background-color: #143d1d;
    border-radius: 8px;
}

#checklistOptions div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background-color: #143d1d;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #143d1d;
}

#result {
    margin-top: 20px;
    padding: 15px;
    background-color: #264653;
    border-radius: 8px;
    color: #fff;
    display: none;
}
