/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #056e28;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

button {
    font-family: '𝙖𝙧𝙞𝙖𝙡', modern-clarity;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .solo {
    background-color: #056e28; 
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
  }

    button:hover{
        background-color: #3333334d;
        color: #ffff;
    }

  
  .safra {
    background-color: #056e28;
    color: #ffffff;
    font-size: 20px;
  }
  
  .preco {
    background-color: #056e28;
    color: #ffffff;
    font-size: 20px;
  }
  
  .maquinario {
    background-color: #056e28;
    color: #ffffff;
    font-size: 20px;
  }
  
  .insumos {
    background-color: #056e28;
    color: #ffffff;
    font-size: 20px;
  }
  
  .financeiro {
    background-color: #056e28;
    color: #ffffff;
    font-size: 20px;
  }
  
  .seguro {
    background-color: #056e28;
    color: #ffffff;
    font-size: 20px;
  }

 ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
} 

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fbbf24;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
    color: #fff;
}

/* Dropdowns */
.dropdown {
    margin-bottom: 20px;
}

.dropdown label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffff;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select:focus {
    outline: none;
    border-color: #000000;
}

/* Coberturas */
.coverage {
    margin-top: 20px;
    padding: 20px;
    background-color: #e9f7fc;
    border-left: 5px solid #000000;
    border-radius: 4px;
}

.coverage p {
    margin: 0;
}

/* Classe para esconder elementos */
.hidden {
    display: none;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    select {
        font-size: 0.9em;
        padding: 8px;
    }
}
