<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroVision</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
<!-- Conteúdo da página -->
<div class="content">
    <h1>AgroVision</h1>
    <p>Software de gerenciamento de agricultura.</p>
    <p>Gerencie lavouras e custos como nunca viu</p>

    <!-- Caixas de seleção com imagens -->
    <a class="opcao" href="pagina1.html">
        <img src="/static/imagens/COLHEITA.jpg" alt="Imagem 1">
    </a>
    <a class="opcao" href="pagina2.html">
        <img src="/static/imagens/ESTOQUE.jpg" alt="Imagem 2">
    </a>
    <a class="opcao" href="pagina3.html">
        <img src="/static/imagens/PLANTIU.jpg" alt="Imagem 3">
    </a>
    <a class="opcao" href="pagina4.html">
        <img src="/static/imagens/PREVISAO DE CULTURAS.jpg" alt="Imagem 4">
    </a>
    <a class="opcao" href="pagina5.html">
        <img src="/static/imagens/SUAS TERRAS.jpg" alt="Imagem 5">
    </a>
    <a class="opcao" href="pagina6.html">
        <img src="/static/imagens/SUAS TERRAS.jpg" alt="Imagem 6">
    </a>
    <!-- Fim das caixas de seleção com imagens -->
</div>

</body>
</html>
