<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Planejamento de Gestão Agrícola</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Planejamento</h1>
        </div>
    </header>
    <main class="container">
        <section class="form-section">
            <form method="post">
                <div class="form-group">
                    <label for="lat">Latitude:<br></label>
                    <input type="text" id="lat" name="lat" required>
                </div>
                <div class="form-group">
                    <label for="lon">Longitude:<br></label>
                    <input type="text" id="lon" name="lon" required>
                </div>
                <div class="form-group">
                    <label for="start">Data de Início (AAAA-MM-DD):<br></label>
                    <input type="text" id="start" name="start" required>
                </div>
                <div class="form-group">
                    <label for="end">Data de Término (AAAA-MM-DD):<br></label>
                    <input type="text" id="end" name="end" required>
                </div>
                <button type="submit">Obter Previsão do Tempo</button>
            </form>
        </section>
        {% if weather_forecast %}
        <section class="forecast-section">
            <h2>Previsão do Tempo</h2>
            <pre>{{ weather_forecast | tojson(indent=2) }}</pre>
        </section>
        {% endif %}
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Sistema de Gestão Agrícola. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
