{% extends "base_sistema.html" %}
{% block subtitulo %} Usuários {% endblock%}
    {% block conteudo %}
    <div class="body flex-grow-1 px-3">
      <div class="container-lg">
        <div class="card mb-4">
          <div class="card-header"><strong>Cadastro de usuarios</strong></div>
          <div class="card-body">           
            <div class="example">              
              <div class="tab-content rounded-bottom">
                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-494">
                  <form class="row g-3" action="{{url_for('atualiza_user',id=usua.id)}}" method="POST">
                    <div class="col-12">
                      <label class="form-label">Nome completo</label>
                      <input class="form-control" type="text" name="nome" value="{{usua.nome}}">
                    </div>
                    <div class="col-md-6">
                      <label class="form-label" >E-mail</label>
                      <input class="form-control" type="text" name="email" value="{{usua.email}}">
                    </div>
                    <div class="col-md-6">
                      <label class="form-label">Senha</label>
                      <input class="form-control" type="password" name="senha" value="{{usua.senha}}">
                    </div>
                    <div class="col-12">
                      <label class="form-label" >Produtor</label>
                      <input class="form-control" type="text" name="prod" value="{{usua.prod}}">
                    </div>
                    <div class="col-12">
                      <label class="form-label">Agronomo</label>
                      <input class="form-control" type="text" name="agro" value="{{usua.agro}}">
                    </div>
                    <!--<div class="col-md-6">
                      <label class="form-label">Papel</label>
                      <input class="form-control"type="text" name="status">
                    </div>
                    <div class="col-md-4">
                      <label class="form-label">Nivel</label>
                      <input class="form-control" type="text" name="nivel">
                    </div> -->
     
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit">Alterar</button>                      
                    </div>
                  </form>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>        
    {% endblock %}