{% extends "base_sistema.html" %}
{% block subtitulo %} Usuarios {% endblock %}
{% block conteudo %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-header">
        <h3 class="box-title">Cadastro de usuarios</h3>
      </div><!-- /.box-header -->
      <div class="box">
        <div class="car">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                  {{ message }}                                          
                </div>                                 
                {% endfor %}
             {% endif %}
          {% endwith %}
        </div>      
        <div class="box-body">
          <table id="example" class="display" style="width:100%">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Nome</th>
                <th scope="col">Produtor</th>
                <th scope="col">Agronomo</th>
                <th scope="col">Data</th>
                <th scope="col">Alterar</th>                     
                <th scope="col">Excluir</th>
              </tr>
            </thead>
            <tbody>
              {% for users in usuarios %}
                <tr>
                  <td>{{ users.id }}</td>
                  <td>{{ users.email }}</td>
                  <td>{{ users.nome }}</td>
                  <td>{{ users.prod }}</td>
                  <td>{{ users.agro }}</td>
                  <td>{{ users.data }}</td>
                  <td>
                    <a href="{{ url_for('atualiza_user', id=users.id) }}">
                      <span class="label label-success">
                        <i class="fa-solid fa-pencil"></i> Alterar
                      </span>
                    </a>
                  </td>
                  <td>
                    <form action="{{ url_for('excluir_user', id=users.id) }}" method="post" style="display:inline;">
                      <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este usuário?');">
                        <span class="label label-danger">
                          <i class="fa-solid fa-eraser"></i> Excluir
                        </span>
                      </button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- Botão para adicionar novo usuário -->
          <a href="{{ url_for('cad_user') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Inserir usuarios</a>
        </div>      
      </div>        
    </div>
  </div>
</section>
{% endblock %}