
  
{% extends "base_sistema.html" %}
{% block subtitulo %} Solo {% endblock%}
{% block conteudo %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-header">
        <h3 class="box-title">Cadastro de Solo</h3>
      </div><!-- /.box-header -->
      <div class="box">
        <div class="car">
          {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                  {{message}}                                          
                </div>                                 
                {% endfor %}
             {% endif %}
          {% endwith %}
        </div>      
          <div class="box-body">
            <table id="example" class="display" style="width:100%">
              <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Area</th>
                    <th scope="col">Tipo Solo</th>
                    <th scope="col">PH Solo</th>
                    <th scope="col">Materia organica</th>
                    <th scope="col">Nitrogenio</th>
                    <th scope="col">Fosforo</th>
                    <th scope="col">Potassio</th>
                    <th scope="col">Recomendação
                        <th scope="col">Data</th>
                    </th>
                    <th scope="col">Alterar</th>                     
                    <th scope="col">Excluir</th>
                  </tr>
              </thead>
              <tbody>
                {% for sol in solos %}
                  <tr>
                    <td>{{sol.id}}</td>
                    <td>{{sol.area}}</td>
                    <td>{{sol.tipo_solor}}</td>
                    <td>{{sol.ph_solo}}</td>
                    <td>{{sol.materia_organica}}</td>
                    <td>{{sol.ctc}}</td>
                    <td>{{sol.nivel_nitrogenio}}</td>
                    <td>{{sol.nivel_fosforo}}</td>
                    <td>{{sol.nivel_potassio}}</td>
                    <td>{{sol.aplicacao_recomentada}}</td>
                    <td>{{sol.data}}</td>
                    <td><a href="()"><span class="label label-success"><i class="fa-solid fa-pencil"></i> Alterar</span></a></td>
                    <td><a href="()"><span class="label label-danger"><i class="fa-solid fa-eraser"></i> Excluir</span></a></td>
                  </tr>
                {% endfor %}
               
                           
              </tbody>
          </table>
          <a href="()" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Inserir usuarios</a>
       </div>      
    </div>        
  </div>
</section>
{% endblock %}
     