/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative; /* Adicionado para posicionar o link corretamente */
}

/* Estilo do cabeçalho */
header {
    background: linear-gradient(135deg, #8B0000, #000000);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 8px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

/* Estilos da seção de dados */
h2 {
    background-color: #8B0000;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 0;
}

nav {
    position: absolute;
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância da direita */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Alterado para branco */
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #8B0000;
}

/* Estilo do rodapé */
footer {
    background: linear-gradient(135deg, #8B0000, #000000);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 8px;
    margin-top: auto;
}
